td{
    width: 2rem;
    height: 2rem;
    border: solid 1px black;
    text-align: center;
    box-sizing:border-box;
    
}
td:hover{
    background-color: #dbdbdb;
    cursor: pointer;
}
td.barco:hover{
    background-color: blue;
}
.explota{
    width:inherit;
    pointer-events: none;
}

.barco{
    background-color:blue;
}
table{
    margin: 2rem;
}
a{
    margin: auto;
}
.logo{
    width: 8em;
}
.logoHundir{
    display: flex;
    justify-content: space-around;
}
.github{
    width:3em;
    height:3em;
}
.tablero{
    background-color:cadetblue;
}
#tableroJugador{
    float: left;
}
#tableroComputadora{
    float: left;
}
.contenedorJugar{
    width: 100%;  
}
.enfoque{
    filter: blur(6px);
}
#boxJugar{
    width: 40em;
    height: 30em;
    position: absolute;
    margin: 0 auto;
    left: 30%;
    top: 10%;
    background-color: rgb(228, 225, 225);
    z-index: 1;
    border: 1px solid darkblue;
    border-radius: 2em;
    align-content:space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contenedorBoxJugar{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}
#SeleccionJugador{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(228, 225, 225);
    z-index: 1;
    align-content:space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul li:first-child {
    color: green;
    font-weight: bold;
  }
.tamanyoTableros>div{
    text-align: center;
}
#contenedorTableros{
    display: flex;
    justify-content: space-around;
}